
@import url("//fonts.googleapis.com/css?family=Open Sans");

body {
    font-family: "FreeSans", "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
    backhround-color: #eee;
    color: #073642;
}


.testimonials{
    width: 70%;
}

/* ===== SPLASH ===== */

.intro {
    background-color: #002b36; /* 002b36 or 073642 */
    margin: 0px;
}

div .splash {
    font-family: 'monospace';
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

div .purpose {
    font-size: 120%;
    font-styleee: italic;
    padding: 1em;
    color: #fff;
}

.col-md-12{
    min-height:0px; /* avoid whitespace because we have an empty row */
}


/* ===== NAVBAR ===== */

.navbar-default{
    background-color:#eee;
    border-color:#ccc;
    /* to connect to splash */
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand{
    color: #073642;
    font-weight: bold;
    font-family: 'monospace';
}

.navbar-default .navbar-nav>li>a{
    color: #073642;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #268bd2;
}


/* ===== FOOTER ===== */

footer {
  background-color: #eee;
  border-color:#ccc;
  color: #666;
}

footer a, footer a:hover{
    color: #444;
}
footer .pull-right a {
    color: #268bd2;
}
